name: Development CI/CD

on: 
  pull_request_target:
    types: [ opened, reopened, ready_for_review, labeled, synchronize ]

permissions:
  actions: read
  checks: read
  contents: read
  deployments: read
  issues: write
  discussions: write
  packages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  setup:
    uses: Monday-Morning/project-reclamation/.github/workflows/setup.yml@main
    with:
      setup_dev: true

  eslint:
    needs: setup
    uses: Monday-Morning/project-reclamation/.github/workflows/eslint.yml@main
    with:
      config_path: ./.eslintrc.yml
      ignore_path: ./.eslintignore
      file_path: 'server/'

  prettier:
    needs: setup
    uses: Monday-Morning/project-reclamation/.github/workflows/prettier.yml@main
    with:
      file_pattern: './server/.'
      config_path: './.prettierrc.yml'
      ignore_path: './.prettierignore'
      fail_on_error: true

  mocha:
    needs: [eslint, prettier]
    uses: Monday-Morning/project-reclamation/.github/workflows/mocha.yml@main
    if: contains(github.event.pull_request.labels.*.name, 'safe-for-checks')
    with:
      package_path: ./server/package.json

  analyze:
    needs: [eslint, prettier]
    uses: Monday-Morning/project-reclamation/.github/workflows/analyze.yml@main
